# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# Ignore master key for decrypting credentials and more.
/config/master.key
/config/credentials.yml.enc
/config/database.yml

# Ignore assets and public files.
/public/assets/
/public/packs/
/public/packs-test/
/public/system/
/public/uploads

# Ignore test coverage.
/coverage/*
!/coverage/.keep

# Ignore Node modules.
/node_modules/
/yarn-error.log

# Ignore editor swap files.
/*.swp
/.vscode/
/.idea/
/*.sublime-project
/*.sublime-workspace

# Ignore Mac system files.
.DS_Store

# Ignore Docker related files.
docker-compose.override.yml
