<div class="container mt-5">
  <div class="m-3">
    <h1>メモ詳細</h1>
    <% if @memo.present? %>
			<div class="mb-3">
				<label class="form-label">メモ</label>
				<div class="form-control" style="min-height:36px;"><%= simple_format(@memo.memo) %></div>
			</div>

			<div class="actions">
				<%= link_to '編集', edit_project_memo_path(@project, @memo), class: 'btn btn-secondary' %>
				<%= link_to '削除', project_memo_path(@project, @memo), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: "btn btn-danger" %>
				<%= link_to '一覧に戻る', project_path(@project), class: 'btn btn-primary' %>
			</div>
			<% else %>
				<p>PEST分析が見つかりません。</p>
			<% end %>
	</div>
</div>